canvas {
  height: 46% !important;
}
wave {
  position: relative !important;
}

.css-1yi9dni-MuiDataGrid-root .MuiDataGrid-columnHeader,
.css-1yi9dni-MuiDataGrid-root .MuiDataGrid-cell {
  padding: 0 0 !important;
}

.css-f09ijy svg {
  font-size: 16px !important;
}
.css-4rdffl-MuiDataGrid-panelFooter {
  display: none !important;
}
.cardBgColor {
  background-color: #edeff1;
}

/* Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(132, 132, 132);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
