canvas {
  height: 46% !important;
}
wave {
  position: relative !important;
}

.css-1yi9dni-MuiDataGrid-root .MuiDataGrid-columnHeader,
.css-1yi9dni-MuiDataGrid-root .MuiDataGrid-cell {
  padding: 0 0 !important;
}

.css-f09ijy svg {
  font-size: 16px !important;
}
.css-4rdffl-MuiDataGrid-panelFooter {
  display: none !important;
}
.cardBgColor {
  background-color: #edeff1;
}

/* Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f127;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(132, 132, 132);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Mozilla-based browsers (Firefox) */
html {
  scrollbar-width: thin;
  scrollbar-color: #f1f1f127 rgb(132, 132, 132);
}

html::-moz-scrollbar {
  height: 6px;
  width: 6px;
}

html::-moz-scrollbar-track {
  background-color: #f1f1f127;
}

html::-moz-scrollbar-thumb {
  background-color: rgb(132, 132, 132);
  border-radius: 4px;
}

html::-moz-scrollbar-thumb:hover {
  background-color: #555;
}

html::-moz-scrollbar-corner {
  background-color: transparent;
}

/* IE 10+ */

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* category input field */

.css-1sp8c2x-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 6px 8px !important;
  width: 250px !important;
  background-color: #fff !important;
}

.css-p8k10j.css-p8k10j.css-p8k10j {
  padding: 6px 8px !important;
  width: 250px !important;
  background-color: #fff !important;
}

.css-e2jgdj-MuiDataGrid-root {
  height: 92% !important;
}
.css-k0k03g {
  height: 90% !important;
}
.css-1a50op7 {
  padding-bottom: 0 !important;
}
