canvas {
  height: 46% !important;
}
wave {
  position: relative !important;
}

.css-1yi9dni-MuiDataGrid-root .MuiDataGrid-columnHeader, .css-1yi9dni-MuiDataGrid-root .MuiDataGrid-cell{
  padding: 0 0 !important;
}