.main{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: fit-content;
    background-color: rgb(244, 244, 244);
}
.dataTable{
  
    width: 100vw;
    height: 60vh;
    /* background-color: rebeccapurple; */
}