.MainModal{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    height: fit-content;
    width: 100%;
}

/* .MainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: 100%;
    width: 100%;
} */

.ModalMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: 100%;
    width: 100%;
}